In [2]:
import pandas as pd

In [3]:
test = pd.read_csv('test.csv')

In [4]:
sample = pd.read_csv('sample_submission.csv')

In [5]:
train = pd.read_csv('train.csv')

In [17]:
print("전체 행 개수 :", len(train))
print(train.isna().sum())

전체 행 개수 : 1200000
id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [20]:
train1 = train.dropna()
print("결측 제거 후 행 개수 :", len(train1))

print(train1.isna().sum())

결측 제거 후 행 개수 : 384004
id                      0
Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [23]:
train[train['Occupation'] == 'Employed']['Annual Income'].mean()

np.float64(32747.057258707253)

In [21]:
train[train['Occupation'] == 'Unemployed']['Annual Income'].mean()

np.float64(32864.541819657774)

In [22]:
train[train['Occupation'] == 'Self-Employed']['Annual Income'].mean()

np.float64(32909.187328502594)